CREATE DATABASE DB_BIRATFG
GO

USE [DB_BIRATFG]
GO
/****** Object:  Table [dbo].[LAB]    Script Date: 08/11/2021 10:31:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LAB](
	[ID_LAB] [int] IDENTITY(1,1) NOT NULL,
	[FK_ID_LOCATION] [int] NOT NULL,
	[FK_ID_MACHINE] [int] NOT NULL,
	[NAME] [varchar](10) NULL,
	[LAST_UPDATE] [date] NULL,
	[MODEL_MACHINE] [varchar](30) NULL,
	[PURCHASE_DATE] [date] NULL,
	[NUMBER_MACHINES] [int] NULL,
	[IP_ADDRESS] [varchar](16) NULL,
	[SUBNET_MASK] [varchar](16) NULL,
	[GATEWAY] [varchar](16) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LAB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LAB_HISTORY]    Script Date: 08/11/2021 10:31:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LAB_HISTORY](
	[ID_LAB_HISTORY] [int] IDENTITY(1,1) NOT NULL,
	[FK_ID_LAB] [int] NOT NULL,
	[FK_ID_MACHINE] [int] NOT NULL,
	[NAME] [varchar](10) NULL,
	[LAST_UPDATE] [date] NULL,
	[MODEL_MACHINE] [varchar](30) NULL,
	[PURCHASE_DATE] [date] NULL,
	[NUMBER_MACHINES] [int] NULL,
	[IP_ADDRESS] [varchar](16) NULL,
	[SUBNET_MASK] [varchar](16) NULL,
	[GATEWAY] [varchar](16) NULL,
	[LOG_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LAB_HISTORY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LAB_SOFTWARES]    Script Date: 08/11/2021 10:31:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LAB_SOFTWARES](
	[FK_ID_LAB] [int] NOT NULL,
	[FK_ID_SOFTWARE] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOCATION]    Script Date: 08/11/2021 10:31:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCATION](
	[ID_LOCATION] [int] IDENTITY(1,1) NOT NULL,
	[SET_BUILDING] [int] NULL,
	[BUILDING] [int] NULL,
	[ROOM] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LOCATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOCATION_HISTORY]    Script Date: 08/11/2021 10:31:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCATION_HISTORY](
	[ID_LOCATION_HISTORY] [int] IDENTITY(1,1) NOT NULL,
	[FK_ID_LOCATION] [int] NOT NULL,
	[SET_BUILDING] [int] NULL,
	[BUILDING] [int] NULL,
	[ROOM] [varchar](10) NULL,
	[LOG_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LOCATION_HISTORY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MACHINE]    Script Date: 08/11/2021 10:31:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MACHINE](
	[ID_MACHINE] [int] IDENTITY(1,1) NOT NULL,
	[MACHINE_NAME] [varchar](15) NULL,
	[SERIAL] [varchar](15) NULL,
	[HAS_MICROPHONE] [bit] NULL,
	[HAS_WEBCAM] [bit] NULL,
	[CPU_MODEL] [varchar](30) NULL,
	[MEMORY_SIZE] [varchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MACHINE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MACHINE_HISTORY]    Script Date: 08/11/2021 10:31:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MACHINE_HISTORY](
	[ID_MACHINE_HISTORY] [int] IDENTITY(1,1) NOT NULL,
	[FK_ID_MACHINE] [int] NOT NULL,
	[MACHINE_NAME] [varchar](15) NULL,
	[SERIAL] [varchar](15) NULL,
	[HAS_MICROPHONE] [bit] NULL,
	[HAS_WEBCAM] [bit] NULL,
	[CPU_MODEL] [varchar](30) NULL,
	[MEMORY_SIZE] [varchar](4) NULL,
	[ID_STORAGE] [int] NULL,
	[LOG_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MACHINE_HISTORY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MACHINE_STORAGE]    Script Date: 08/11/2021 10:31:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MACHINE_STORAGE](
	[FK_ID_STORAGE] [int] NOT NULL,
	[FK_ID_MACHINE] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OS]    Script Date: 08/11/2021 10:31:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OS](
	[ID_OS] [int] IDENTITY(1,1) NOT NULL,
	[OS_NAME] [varchar](20) NULL,
	[INSTALATION_INFO] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_OS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OS_LABS]    Script Date: 08/11/2021 10:31:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OS_LABS](
	[FK_ID_LAB] [int] NOT NULL,
	[FK_ID_OS] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOFTWARE]    Script Date: 08/11/2021 10:31:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOFTWARE](
	[ID_SOFTWARE] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](40) NOT NULL,
	[VERSION] [varchar](10) NULL,
	[INSTRUCTION_INSTALL] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SOFTWARE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STORAGE]    Script Date: 08/11/2021 10:31:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORAGE](
	[ID_STORAGE] [int] IDENTITY(1,1) NOT NULL,
	[STORAGE_SIZE] [varchar](10) NULL,
	[DISK_TYPE] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_STORAGE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LAB] ON 

INSERT [dbo].[LAB] ([ID_LAB], [FK_ID_LOCATION], [FK_ID_MACHINE], [NAME], [LAST_UPDATE], [MODEL_MACHINE], [PURCHASE_DATE], [NUMBER_MACHINES], [IP_ADDRESS], [SUBNET_MASK], [GATEWAY]) VALUES (1, 1, 1, N'01', CAST(N'2021-11-01' AS Date), N'HP Elite 8100', CAST(N'2021-10-11' AS Date), 20, N'172.25.33.2', N'255.255.255.0', N'172.25.33.1')
INSERT [dbo].[LAB] ([ID_LAB], [FK_ID_LOCATION], [FK_ID_MACHINE], [NAME], [LAST_UPDATE], [MODEL_MACHINE], [PURCHASE_DATE], [NUMBER_MACHINES], [IP_ADDRESS], [SUBNET_MASK], [GATEWAY]) VALUES (2, 2, 2, N'02', CAST(N'2021-11-03' AS Date), N'DELL 3030', CAST(N'2020-06-08' AS Date), 25, N'172.25.33.2', N'255.255.255.0', N'172.25.33.1')
INSERT [dbo].[LAB] ([ID_LAB], [FK_ID_LOCATION], [FK_ID_MACHINE], [NAME], [LAST_UPDATE], [MODEL_MACHINE], [PURCHASE_DATE], [NUMBER_MACHINES], [IP_ADDRESS], [SUBNET_MASK], [GATEWAY]) VALUES (3, 3, 3, N'12', CAST(N'2021-11-08' AS Date), N'HP Omni pro 200', CAST(N'2021-10-19' AS Date), 32, N'10.103.0.50', N'255.255.255.0', N'10.103.0.1')
SET IDENTITY_INSERT [dbo].[LAB] OFF
GO
SET IDENTITY_INSERT [dbo].[LAB_HISTORY] ON 

INSERT [dbo].[LAB_HISTORY] ([ID_LAB_HISTORY], [FK_ID_LAB], [FK_ID_MACHINE], [NAME], [LAST_UPDATE], [MODEL_MACHINE], [PURCHASE_DATE], [NUMBER_MACHINES], [IP_ADDRESS], [SUBNET_MASK], [GATEWAY], [LOG_DATE]) VALUES (1, 2, 2, NULL, CAST(N'2021-11-01' AS Date), NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2021-11-03T13:45:17.640' AS DateTime))
INSERT [dbo].[LAB_HISTORY] ([ID_LAB_HISTORY], [FK_ID_LAB], [FK_ID_MACHINE], [NAME], [LAST_UPDATE], [MODEL_MACHINE], [PURCHASE_DATE], [NUMBER_MACHINES], [IP_ADDRESS], [SUBNET_MASK], [GATEWAY], [LOG_DATE]) VALUES (2, 3, 3, NULL, NULL, N'HP Omni pro 110', NULL, NULL, NULL, NULL, NULL, CAST(N'2021-11-03T19:37:52.447' AS DateTime))
INSERT [dbo].[LAB_HISTORY] ([ID_LAB_HISTORY], [FK_ID_LAB], [FK_ID_MACHINE], [NAME], [LAST_UPDATE], [MODEL_MACHINE], [PURCHASE_DATE], [NUMBER_MACHINES], [IP_ADDRESS], [SUBNET_MASK], [GATEWAY], [LOG_DATE]) VALUES (3, 3, 3, NULL, CAST(N'2021-11-03' AS Date), NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2021-11-08T09:25:11.933' AS DateTime))
SET IDENTITY_INSERT [dbo].[LAB_HISTORY] OFF
GO
INSERT [dbo].[LAB_SOFTWARES] ([FK_ID_LAB], [FK_ID_SOFTWARE]) VALUES (1, 2)
INSERT [dbo].[LAB_SOFTWARES] ([FK_ID_LAB], [FK_ID_SOFTWARE]) VALUES (2, 2)
INSERT [dbo].[LAB_SOFTWARES] ([FK_ID_LAB], [FK_ID_SOFTWARE]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[LOCATION] ON 

INSERT [dbo].[LOCATION] ([ID_LOCATION], [SET_BUILDING], [BUILDING], [ROOM]) VALUES (1, 4, 16, N'301')
INSERT [dbo].[LOCATION] ([ID_LOCATION], [SET_BUILDING], [BUILDING], [ROOM]) VALUES (2, 1, 3, N'55')
INSERT [dbo].[LOCATION] ([ID_LOCATION], [SET_BUILDING], [BUILDING], [ROOM]) VALUES (3, 3, 13, N'520')
SET IDENTITY_INSERT [dbo].[LOCATION] OFF
GO
SET IDENTITY_INSERT [dbo].[LOCATION_HISTORY] ON 

INSERT [dbo].[LOCATION_HISTORY] ([ID_LOCATION_HISTORY], [FK_ID_LOCATION], [SET_BUILDING], [BUILDING], [ROOM], [LOG_DATE]) VALUES (1, 1, 3, 15, N'65', CAST(N'2021-11-01T09:33:39.860' AS DateTime))
INSERT [dbo].[LOCATION_HISTORY] ([ID_LOCATION_HISTORY], [FK_ID_LOCATION], [SET_BUILDING], [BUILDING], [ROOM], [LOG_DATE]) VALUES (2, 1, NULL, NULL, N'655', CAST(N'2021-11-01T17:56:49.200' AS DateTime))
SET IDENTITY_INSERT [dbo].[LOCATION_HISTORY] OFF
GO
SET IDENTITY_INSERT [dbo].[MACHINE] ON 

INSERT [dbo].[MACHINE] ([ID_MACHINE], [MACHINE_NAME], [SERIAL], [HAS_MICROPHONE], [HAS_WEBCAM], [CPU_MODEL], [MEMORY_SIZE]) VALUES (1, N'LAB01DT01', N'SERIAL', 0, 0, N'intel core i5', N'8')
INSERT [dbo].[MACHINE] ([ID_MACHINE], [MACHINE_NAME], [SERIAL], [HAS_MICROPHONE], [HAS_WEBCAM], [CPU_MODEL], [MEMORY_SIZE]) VALUES (2, N'LAB02DT01', N'ASD123FASDF', 1, 1, N'intel core i7', N'12')
INSERT [dbo].[MACHINE] ([ID_MACHINE], [MACHINE_NAME], [SERIAL], [HAS_MICROPHONE], [HAS_WEBCAM], [CPU_MODEL], [MEMORY_SIZE]) VALUES (3, N'LAB12DT01', N'123 11125551', 1, 1, N'Intel i5 2.40GHz', N'4')
SET IDENTITY_INSERT [dbo].[MACHINE] OFF
GO
SET IDENTITY_INSERT [dbo].[MACHINE_HISTORY] ON 

INSERT [dbo].[MACHINE_HISTORY] ([ID_MACHINE_HISTORY], [FK_ID_MACHINE], [MACHINE_NAME], [SERIAL], [HAS_MICROPHONE], [HAS_WEBCAM], [CPU_MODEL], [MEMORY_SIZE], [ID_STORAGE], [LOG_DATE]) VALUES (1, 3, NULL, NULL, NULL, NULL, N'Celeron Dual Core 1.15GHz', N'2', NULL, CAST(N'2021-11-03T19:15:03.430' AS DateTime))
INSERT [dbo].[MACHINE_HISTORY] ([ID_MACHINE_HISTORY], [FK_ID_MACHINE], [MACHINE_NAME], [SERIAL], [HAS_MICROPHONE], [HAS_WEBCAM], [CPU_MODEL], [MEMORY_SIZE], [ID_STORAGE], [LOG_DATE]) VALUES (2, 2, NULL, NULL, 0, 0, NULL, NULL, NULL, CAST(N'2021-11-03T19:36:51.667' AS DateTime))
INSERT [dbo].[MACHINE_HISTORY] ([ID_MACHINE_HISTORY], [FK_ID_MACHINE], [MACHINE_NAME], [SERIAL], [HAS_MICROPHONE], [HAS_WEBCAM], [CPU_MODEL], [MEMORY_SIZE], [ID_STORAGE], [LOG_DATE]) VALUES (3, 3, NULL, NULL, NULL, NULL, N'Intel core 2 Duo 2.40GHz', NULL, NULL, CAST(N'2021-11-03T19:37:52.450' AS DateTime))
SET IDENTITY_INSERT [dbo].[MACHINE_HISTORY] OFF
GO
INSERT [dbo].[MACHINE_STORAGE] ([FK_ID_STORAGE], [FK_ID_MACHINE]) VALUES (4, 1)
INSERT [dbo].[MACHINE_STORAGE] ([FK_ID_STORAGE], [FK_ID_MACHINE]) VALUES (9, 2)
INSERT [dbo].[MACHINE_STORAGE] ([FK_ID_STORAGE], [FK_ID_MACHINE]) VALUES (8, 3)
GO
SET IDENTITY_INSERT [dbo].[OS] ON 

INSERT [dbo].[OS] ([ID_OS], [OS_NAME], [INSTALATION_INFO]) VALUES (1, N'Windows 10 Education', NULL)
INSERT [dbo].[OS] ([ID_OS], [OS_NAME], [INSTALATION_INFO]) VALUES (2, N'Linux Ubuntu 12.04', NULL)
INSERT [dbo].[OS] ([ID_OS], [OS_NAME], [INSTALATION_INFO]) VALUES (3, N'Linux Ubuntu 18.04', NULL)
SET IDENTITY_INSERT [dbo].[OS] OFF
GO
INSERT [dbo].[OS_LABS] ([FK_ID_LAB], [FK_ID_OS]) VALUES (1, 1)
INSERT [dbo].[OS_LABS] ([FK_ID_LAB], [FK_ID_OS]) VALUES (2, 1)
INSERT [dbo].[OS_LABS] ([FK_ID_LAB], [FK_ID_OS]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[SOFTWARE] ON 

INSERT [dbo].[SOFTWARE] ([ID_SOFTWARE], [NAME], [VERSION], [INSTRUCTION_INSTALL]) VALUES (1, N'Microsoft Office', N'2019', N'')
INSERT [dbo].[SOFTWARE] ([ID_SOFTWARE], [NAME], [VERSION], [INSTRUCTION_INSTALL]) VALUES (2, N'Adobe Premiere ', N'2020', N'')
INSERT [dbo].[SOFTWARE] ([ID_SOFTWARE], [NAME], [VERSION], [INSTRUCTION_INSTALL]) VALUES (3, N'Adobe Photoshop', N'2020', N'')
SET IDENTITY_INSERT [dbo].[SOFTWARE] OFF
GO
SET IDENTITY_INSERT [dbo].[STORAGE] ON 

INSERT [dbo].[STORAGE] ([ID_STORAGE], [STORAGE_SIZE], [DISK_TYPE]) VALUES (1, N'200', N'HD')
INSERT [dbo].[STORAGE] ([ID_STORAGE], [STORAGE_SIZE], [DISK_TYPE]) VALUES (2, N'200', N'HD')
INSERT [dbo].[STORAGE] ([ID_STORAGE], [STORAGE_SIZE], [DISK_TYPE]) VALUES (3, N'120', N'SSD M2')
SET IDENTITY_INSERT [dbo].[STORAGE] OFF
GO
ALTER TABLE [dbo].[LAB]  WITH CHECK ADD FOREIGN KEY([FK_ID_LOCATION])
REFERENCES [dbo].[LOCATION] ([ID_LOCATION])
GO
ALTER TABLE [dbo].[LAB]  WITH CHECK ADD FOREIGN KEY([FK_ID_MACHINE])
REFERENCES [dbo].[MACHINE] ([ID_MACHINE])
GO
ALTER TABLE [dbo].[LAB_HISTORY]  WITH CHECK ADD FOREIGN KEY([FK_ID_LAB])
REFERENCES [dbo].[LAB] ([ID_LAB])
GO
ALTER TABLE [dbo].[LAB_SOFTWARES]  WITH CHECK ADD FOREIGN KEY([FK_ID_SOFTWARE])
REFERENCES [dbo].[SOFTWARE] ([ID_SOFTWARE])
GO
ALTER TABLE [dbo].[LAB_SOFTWARES]  WITH CHECK ADD FOREIGN KEY([FK_ID_LAB])
REFERENCES [dbo].[LAB] ([ID_LAB])
GO
ALTER TABLE [dbo].[LOCATION_HISTORY]  WITH CHECK ADD FOREIGN KEY([FK_ID_LOCATION])
REFERENCES [dbo].[LOCATION] ([ID_LOCATION])
GO
ALTER TABLE [dbo].[MACHINE_HISTORY]  WITH CHECK ADD FOREIGN KEY([FK_ID_MACHINE])
REFERENCES [dbo].[MACHINE] ([ID_MACHINE])
GO
ALTER TABLE [dbo].[MACHINE_STORAGE]  WITH CHECK ADD FOREIGN KEY([FK_ID_MACHINE])
REFERENCES [dbo].[MACHINE] ([ID_MACHINE])
GO
ALTER TABLE [dbo].[MACHINE_STORAGE]  WITH CHECK ADD FOREIGN KEY([FK_ID_STORAGE])
REFERENCES [dbo].[STORAGE] ([ID_STORAGE])
GO
ALTER TABLE [dbo].[OS_LABS]  WITH CHECK ADD FOREIGN KEY([FK_ID_LAB])
REFERENCES [dbo].[LAB] ([ID_LAB])
GO
ALTER TABLE [dbo].[OS_LABS]  WITH CHECK ADD FOREIGN KEY([FK_ID_OS])
REFERENCES [dbo].[OS] ([ID_OS])
GO
/****** Object:  Trigger [dbo].[HISTORY_LAB]    Script Date: 08/11/2021 10:31:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[HISTORY_LAB] ON [dbo].[LAB]
AFTER UPDATE
AS
BEGIN

	DECLARE @OLD_FK_ID_LOCATION INT
	DECLARE @OLD_NAME VARCHAR(10)
	DECLARE @OLD_LAST_UPDATE DATE
	DECLARE @OLD_MODEL_MACHINE VARCHAR(30)
	DECLARE @OLD_PURCHASE_DATE DATE
	DECLARE @OLD_NUMBER_MACHINES INT
	DECLARE @OLD_IP_ADDRESS VARCHAR(16)
	DECLARE @OLD_SUBNET_MASK VARCHAR(16)
	DECLARE @OLD_GATEWAY VARCHAR(16)

	DECLARE @NEW_FK_ID_LOCATION INT
	DECLARE @NEW_NAME VARCHAR(10)
	DECLARE @NEW_LAST_UPDATE DATE
	DECLARE @NEW_MODEL_MACHINE VARCHAR(30)
	DECLARE @NEW_PURCHASE_DATE DATE
	DECLARE @NEW_NUMBER_MACHINES INT
	DECLARE @NEW_IP_ADDRESS VARCHAR(16)
	DECLARE @NEW_SUBNET_MASK VARCHAR(16)
	DECLARE @NEW_GATEWAY VARCHAR(16)

	DECLARE @FK_ID_MACHINE INT
	DECLARE @FK_ID_LOCATION INT
	DECLARE @NAME VARCHAR(10)
	DECLARE @LAST_UPDATE DATE
	DECLARE @MODEL_MACHINE VARCHAR(30)
	DECLARE @PURCHASE_DATE DATE
	DECLARE @NUMBER_MACHINES INT
	DECLARE @IP_ADDRESS VARCHAR(16)
	DECLARE @SUBNET_MASK VARCHAR(16)
	DECLARE @GATEWAY VARCHAR(16)
	DECLARE @ID_LAB INT
	
	DECLARE @FLAG bit
	
	select @ID_LAB = ID_LAB,
		   @OLD_FK_ID_LOCATION = FK_ID_LOCATION,
		   @FK_ID_MACHINE = FK_ID_MACHINE,
		   @OLD_NAME = NAME,
		   @OLD_PURCHASE_DATE = PURCHASE_DATE,
		   @OLD_LAST_UPDATE = LAST_UPDATE,
		   @OLD_MODEL_MACHINE = MODEL_MACHINE,
		   @OLD_NUMBER_MACHINES = NUMBER_MACHINES,
		   @OLD_IP_ADDRESS = IP_ADDRESS,
		   @OLD_SUBNET_MASK = SUBNET_MASK,
		   @OLD_GATEWAY = GATEWAY
				from deleted

	select  @NEW_FK_ID_LOCATION = FK_ID_LOCATION,
			@NEW_NAME = NAME,
			@NEW_NUMBER_MACHINES = NUMBER_MACHINES,
			@NEW_LAST_UPDATE = LAST_UPDATE,
			@NEW_PURCHASE_DATE = PURCHASE_DATE,
			@NEW_MODEL_MACHINE = MODEL_MACHINE,
			@NEW_IP_ADDRESS = IP_ADDRESS,
			@NEW_SUBNET_MASK = SUBNET_MASK,
			@NEW_GATEWAY = GATEWAY
				from INSERTED

	begin
		--NAME
		if (@NEW_NAME != @OLD_NAME)
		begin
			set @NAME = @OLD_NAME
			set @FLAG = 1
		end
		else
			set @NAME = null
		--FK_ID_LOCATION
		if (@OLD_FK_ID_LOCATION != @NEW_FK_ID_LOCATION)
			begin
				set @FK_ID_LOCATION = @OLD_FK_ID_LOCATION
				set @FLAG = 1
			end
		else
			set @FK_ID_LOCATION = null
		--LAST_UPDATE
		if (@OLD_LAST_UPDATE != @NEW_LAST_UPDATE)
			begin
				set @LAST_UPDATE = @OLD_LAST_UPDATE
				set @FLAG = 1
			end
		else
			set @LAST_UPDATE = null
		--MODEL_MACHINE
		if (@OLD_MODEL_MACHINE != @NEW_MODEL_MACHINE)
			begin
				set @MODEL_MACHINE = @OLD_MODEL_MACHINE
				set @FLAG = 1
			end
		else
			set @MODEL_MACHINE = null
		--PURCHASE_DATE
		if (@OLD_PURCHASE_DATE != @NEW_PURCHASE_DATE)
			begin
				set @PURCHASE_DATE = @OLD_PURCHASE_DATE
				set @FLAG = 1
			end
		else
			set @PURCHASE_DATE = null
		--NUMBER_MACHINES
		if (@OLD_NUMBER_MACHINES != @NEW_NUMBER_MACHINES)
			begin
				set @NUMBER_MACHINES = @OLD_NUMBER_MACHINES
				set @FLAG = 1
			end
		else
			set @NUMBER_MACHINES = null
		--IP_ADDDRESS
		if (@OLD_IP_ADDRESS != @NEW_IP_ADDRESS)
			begin
				set @IP_ADDRESS = @OLD_IP_ADDRESS
				set @FLAG = 1
			end
		else
			set @IP_ADDRESS = null
		--SUBNET_MASK
		if (@OLD_SUBNET_MASK != @NEW_SUBNET_MASK)
			begin
				set @SUBNET_MASK = @OLD_SUBNET_MASK
				set @FLAG = 1
			end
		else
			set @SUBNET_MASK = null
		--GATEWAY
		if (@OLD_GATEWAY != @NEW_GATEWAY)
			begin
				set @GATEWAY = @OLD_GATEWAY
				set @FLAG = 1
			end
		else
			set @GATEWAY = null
		
	END

	BEGIN
		IF(@FLAG = 1)
			INSERT INTO LAB_HISTORY(
				FK_ID_LAB,FK_ID_MACHINE,NAME,LAST_UPDATE,MODEL_MACHINE,PURCHASE_DATE,NUMBER_MACHINES,IP_ADDRESS,SUBNET_MASK,GATEWAY,LOG_DATE) 
			VALUES(	
				@ID_LAB,@FK_ID_MACHINE,@NAME,@LAST_UPDATE,@MODEL_MACHINE,@PURCHASE_DATE,@NUMBER_MACHINES,@IP_ADDRESS,@SUBNET_MASK,@GATEWAY,getdate())
	END
END
GO
ALTER TABLE [dbo].[LAB] ENABLE TRIGGER [HISTORY_LAB]
GO
/****** Object:  Trigger [dbo].[HISTORY_LOCATION]    Script Date: 08/11/2021 10:31:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[HISTORY_LOCATION] ON [dbo].[LOCATION]
AFTER UPDATE
AS
BEGIN
	DECLARE @OLD_SET_BUILDING INT
	DECLARE @OLD_BUILDING INT
	DECLARE @OLD_ROOM VARCHAR(10)

	DECLARE @NEW_SET_BUILDING INT
	DECLARE @NEW_BUILDING INT
	DECLARE @NEW_ROOM VARCHAR(10)

	DECLARE @SET_BUILDING INT
	DECLARE @BUILDING INT
	DECLARE @ROOM VARCHAR(10)
	DECLARE @ID_LOCATION INT
	DECLARE @FLAG bit
	

	
	select @ID_LOCATION = ID_LOCATION, @OLD_SET_BUILDING = SET_BUILDING, @OLD_BUILDING = BUILDING, @OLD_ROOM = ROOM from deleted
	select @NEW_SET_BUILDING = SET_BUILDING, @NEW_BUILDING = BUILDING, @NEW_ROOM = ROOM from inserted

	begin
		if (@NEW_SET_BUILDING != @OLD_SET_BUILDING)
		begin
			set @SET_BUILDING = @OLD_SET_BUILDING 
			set @FLAG = 1
		end

		else
			set @SET_BUILDING = null

		if (@NEW_BUILDING != @OLD_BUILDING)
			begin
				set @BUILDING = @OLD_BUILDING
				set @FLAG = 1
			end
		else
			set @BUILDING = null

		if (@NEW_ROOM != @OLD_ROOM)
			begin
				set @ROOM = @OLD_ROOM
				set @FLAG = 1
			end
		else
			set @ROOM = null
	END

	BEGIN
		IF(@FLAG = 1)
			INSERT INTO LOCATION_HISTORY(FK_ID_LOCATION,SET_BUILDING,BUILDING,ROOM,LOG_DATE) 
			VALUES(@ID_LOCATION,@SET_BUILDING,@BUILDING,@ROOM, getdate())
	END
END
GO
ALTER TABLE [dbo].[LOCATION] ENABLE TRIGGER [HISTORY_LOCATION]
GO
/****** Object:  Trigger [dbo].[HISTORY_MACHINE]    Script Date: 08/11/2021 10:31:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[HISTORY_MACHINE] 
ON [dbo].[MACHINE] AFTER UPDATE AS
BEGIN
	
	DECLARE @OLD_MACHINE_NAME VARCHAR(15)
	DECLARE @OLD_SERIAL VARCHAR(15)
	DECLARE @OLD_HAS_MICROPHONE BIT
	DECLARE @OLD_HAS_WEBCAM BIT
	DECLARE @OLD_CPU_MODEL VARCHAR(30)
	DECLARE @OLD_MEMORY_SIZE VARCHAR(4)

	DECLARE @NEW_MACHINE_NAME VARCHAR(15)
	DECLARE @NEW_SERIAL VARCHAR(15)
	DECLARE @NEW_HAS_MICROPHONE BIT
	DECLARE @NEW_HAS_WEBCAM BIT
	DECLARE @NEW_CPU_MODEL VARCHAR(30)
	DECLARE @NEW_MEMORY_SIZE VARCHAR(4)
	
	DECLARE @FK_ID_MACHINE INT
	DECLARE @MACHINE_NAME VARCHAR(15)
	DECLARE @SERIAL VARCHAR(15)
	DECLARE @HAS_MICROPHONE BIT
	DECLARE @HAS_WEBCAM BIT
	DECLARE @CPU_MODEL VARCHAR(30)
	DECLARE @MEMORY_SIZE VARCHAR(4)

	DECLARE @FLAG BIT

	SELECT 
			@FK_ID_MACHINE = ID_MACHINE,
			@OLD_MACHINE_NAME = MACHINE_NAME,
			@OLD_SERIAL = SERIAL,
			@OLD_HAS_MICROPHONE = HAS_MICROPHONE,
			@OLD_HAS_WEBCAM = HAS_WEBCAM,
			@OLD_CPU_MODEL = CPU_MODEL,
			@OLD_MEMORY_SIZE = MEMORY_SIZE
	 FROM DELETED

	SELECT 
			@NEW_MACHINE_NAME = MACHINE_NAME,
			@NEW_SERIAL = SERIAL,
			@NEW_HAS_MICROPHONE = HAS_MICROPHONE,
			@NEW_HAS_WEBCAM = HAS_WEBCAM,
			@NEW_CPU_MODEL = CPU_MODEL,
			@NEW_MEMORY_SIZE = MEMORY_SIZE
	 FROM INSERTED

	begin
		--machine name
		if (@NEW_MACHINE_NAME != @OLD_MACHINE_NAME)
		begin
			set @MACHINE_NAME = @OLD_MACHINE_NAME
			set @FLAG = 1
		end
		else
			set @MACHINE_NAME = null

		--serial
		if (@NEW_SERIAL != @OLD_SERIAL)
		begin
			set @SERIAL = @OLD_SERIAL
			set @FLAG = 1
		end
		else
			set @SERIAL = null

		--has microphone
		if (@NEW_HAS_MICROPHONE != @OLD_HAS_MICROPHONE)
		begin
			set @HAS_MICROPHONE = @OLD_HAS_MICROPHONE
			set @FLAG = 1
		end
		else
			set @HAS_MICROPHONE = null	
		--has webcam
		if (@NEW_HAS_WEBCAM != @OLD_HAS_WEBCAM)
		begin
			set @HAS_WEBCAM = @OLD_HAS_WEBCAM
			set @FLAG = 1
		end
		else
			set @HAS_WEBCAM = null	
		--cpu model
		if (@NEW_CPU_MODEL != @OLD_CPU_MODEL)
		begin
			set @CPU_MODEL = @OLD_CPU_MODEL
			set @FLAG = 1
		end
		else
			set @CPU_MODEL = null	
		--memory size
		if (@NEW_MEMORY_SIZE != @OLD_MEMORY_SIZE)
		begin
			set @MEMORY_SIZE = @OLD_MEMORY_SIZE
			set @FLAG = 1
		end
		else
			set @MEMORY_SIZE = null	
	END

	BEGIN
		IF(@FLAG = 1)
			INSERT INTO MACHINE_HISTORY (FK_ID_MACHINE ,MACHINE_NAME,SERIAL,HAS_MICROPHONE,HAS_WEBCAM,CPU_MODEL,MEMORY_SIZE ,LOG_DATE)
			VALUES (@FK_ID_MACHINE, @MACHINE_NAME , @SERIAL , @HAS_MICROPHONE , @HAS_WEBCAM , @CPU_MODEL ,@MEMORY_SIZE , GETDATE())
	END
END
GO
ALTER TABLE [dbo].[MACHINE] ENABLE TRIGGER [HISTORY_MACHINE]
GO
